<div class="container">
    <div class="row">

        <div class="col xl3 l4 m6 s12" *ngFor="let espece of especeList">
            <div (click)="goToEspece(espece)" class="card horizontal teal lighten-5" appBorderCard>
                <div class="card-image center valign-wrapper center-align "><img
                        src="\assets\image\brut\{{espece.id}}.png" alt="image de l'espece"></div>
                <div class="card-stacked  ">
                    <div class="card-content">
                        <p class="center relief">{{espece.nom}}</p>
                        <div class="space2"></div>
                        <p class="center" *ngIf="espece.dangereux==true"><small class="chip red ">Dangereuse</small>
                        </p>
                        <p class="center" *ngIf="espece.dangereux==false"><small class="chip green ">Inoffensive</small>
                        </p>
                        <div class="space"></div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
