<div class="container">
    <div class="row acceuil">
        <div class="col  m6 s12">
            <div (click)="goToEnclos()" class="card teal lighten-5 " appBorderCard>
                <div class="card-image center valign-wrapper center-align "><img class="borderimg "
                        src="\assets\image\acceuil\enclos2.png" alt="image d'enclos"></div>
                <div class="card-stacked  ">
                    <div class="card-content center">
                        <div class="space2"></div>
                        <span class="center relief ">Enclos</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col  m6 s12">
            <div (click)="goToEspeces()" class="card  teal lighten-5 " appBorderCard>
                <div class="card-image center valign-wrapper center-align "><img class="borderimg "
                        src="\assets\image\acceuil\especes2.png" alt="image d'espece"></div>
                <div class="card-stacked  ">
                    <div class="card-content center">
                        <div class="space2"></div>
                        <span class="center relief ">Especes</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col  m6 s12">
            <div (click)="goToAnimaux()" class="card  teal lighten-5 " appBorderCard>
                <div class="card-image center valign-wrapper center-align "><img class="borderimg "
                        src="\assets\image\acceuil\animaux2.png" alt="image d'animaux"></div>
                <div class="card-stacked  ">
                    <div class="card-content center">
                        <div class="space2"></div>
                        <span class="center relief ">Animaux</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col  m6 s12">
            <div (click)="goToEvenements()" class="card  teal lighten-5 " appBorderCard>
                <div class="card-image center valign-wrapper center-align "><img class="borderimg "
                        src="\assets\image\acceuil\evenements2.png" alt="image d'evenement"></div>
                <div class="card-stacked  ">
                    <div class="card-content center">
                        <div class="space2"></div>
                        <span class="center relief ">Evenements</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
