<div class="container">
    <div class="row">

        <div class="col  l4 m6 s12 card-flex  marg" *ngFor="let enclos of enclosList">

            <div (click)="goToEnclos(enclos)" class="card  teal lighten-5   tailleCard " appBorderCard>

                <div class="card-image  "><img class="  tailleimg" src="\assets\image\enclos\{{enclos.id}}.jpg"
                        alt="image de l'enclos"></div>

                <div class="card-content">
                    <p class="center relief">{{enclos.nom}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
