<div class="container m2">
    <div class="row marginRiLe">

        <div class="col s12">
            <div class=" teal lighten-5 m5">

                <div class="mat-elevation-z10">
                    <table mat-table [dataSource]="dataSource" aria-describedby="evenements par enclos">



                        <ng-container matColumnDef="idTypeEvenement">
                            <th mat-header-cell *matHeaderCellDef> Évènement </th>
                            <td mat-cell *matCellDef="let event"> {{event.idTypeEvenement | eventNom}} </td>
                        </ng-container>

                        <ng-container matColumnDef="observations">
                            <th mat-header-cell *matHeaderCellDef class="center-align"> Observations </th>
                            <td mat-cell *matCellDef="let event" class="center-align"> {{event.observations}} </td>
                        </ng-container>

                        <ng-container matColumnDef="moment">
                            <th mat-header-cell *matHeaderCellDef class="center-align"> Date </th>
                            <td mat-cell *matCellDef="let event" class="center-align"> {{event.moment | datePipe}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="idAnimal">
                            <th mat-header-cell *matHeaderCellDef class="center-align"> Animal </th>
                            <td mat-cell *matCellDef="let event" class="center-align"> {{event.idAnimal | titlecase}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="idEspece">
                            <th mat-header-cell *matHeaderCellDef class="center-align"> Espèce </th>
                            <td mat-cell *matCellDef="let event" class="center-align"> {{event.idEspece | titlecase}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="idEnclos">
                            <th mat-header-cell *matHeaderCellDef class="center-align"> Enclos </th>
                            <td mat-cell *matCellDef="let event" class="center-align"> {{event.enclos.nom}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="zone">
                            <th mat-header-cell *matHeaderCellDef class="center-align"> Zone </th>
                            <td mat-cell *matCellDef="let event" class="center-align"> {{event.enclos.zone.nom}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="personnel">
                            <th mat-header-cell *matHeaderCellDef class="right-align"> Créé par </th>
                            <td mat-cell *matCellDef="let event" class="right-align"> {{event.personnel.prenom}}
                                {{event.personnel.nom}}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator role="alert" (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
                        [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
                        [pageIndex]="pageIndex" aria-label="Select page">
                    </mat-paginator>

                </div>




            </div>
        </div>
    </div>
    <img class="retour" (click)="goToSelectEvent()" src="\assets\image\arrow.png" alt="fleche retour">
</div>
