.mat-content {
    display: flex;
    justify-content: center;
    margin-left: -12px;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.x-end {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

caption {
    display: none;
}

.borderimg {
    border: 2px inset teal;

}

.taille-moyen {
    width: 200px;
    margin-left: calc(50vw - 100px);

}

.formu {
    margin: 25px;
    padding: 5px;
}

.taille-grand {
    width: 250px;
    margin-left: calc(50vw - 100px);

}

.inlinedisplay {
    display: inline-block;
}


.input-icons i {
    position: absolute;
}

.input-icons {
    width: 250px;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 200px;
    padding: 10px;
    text-align: center;
}

.relief {
    font-weight: bold;

}

.space {
    height: 7px;
}

.space2 {
    height: 15px;
}

.imageLogo {
    height: 150px;
    width: auto;
}

.nav-wrapper-taille {
    height: 150px;
}


.ml {
    margin-left: 15px;
}

.maj::first-letter {
    text-transform: uppercase;
}

.deco {
    position: absolute;
    top: 5px;
    right: 15px;
}

.deco2 {
    position: absolute;
    top: 25px;
    right: 15px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
